name: Test CI

on:
    pull_request:
        branches:
            - main
            - dev

env:
    CARGO_TERM_COLOR: always

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Cache Cargo dependencies
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cargo/registry
                      ~/.cargo/git
                      target
                  key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}
                  restore-keys: |
                      ${{ runner.os }}-cargo-

            - name: Install Rust toolchain
              uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  toolchain: stable
                  override: true

            - name: Build
              run: cargo build

            - name: Generate documentation
              run: cargo doc --no-deps

            - name: Run tests
              run: cargo test -- --test-threads=1
