name: 'rust-bitvmx-wallet: CI Test'
on:
  push:
    branches: [ "main" ]
   
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: read

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  test:
    uses: FairgateLabs/BitVMX-CI/.github/workflows/ci_local_template.yml@main
    with:
      repo: 'FairgateLabs/rust-bitvmx-workspace'
      submodule_path: 'rust-bitvmx-wallet'
      cargo_lock_path: 'rust-bitvmx-wallet/Cargo.lock'
      target_path: 'rust-bitvmx-wallet/target'
      submodule_branches: '{}'
      single_thread_tests: true
    secrets: inherit